.form-heading { color:#fff; font-size:23px;}
.panel2 h1{color: #ff9600;font-size:28px;     margin: -33px 0px 8px 0px;}
/*.panel1 p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}*/
p {
    margin: -21px 106px 17px 0px;
}
.change-form .form-control {
/*  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  line-height: 50px;*/
}

.main1-div {
  background: #fff9c9 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 5px 0 26px 350px;
  width: 310px;
  height: 376px;
  padding: 45px 30px 3px 30px;
}
.main1-div .thongbao
{
font-size: 14px; color: red; width: 300px; padding-right: 22px; margin-top: 30px;
}
.change-form .form-group {
  margin-bottom: 15px;
}
.change-form .form-check{
    font-size: 14px;
    padding-bottom: 10px;
    margin-left: -124px;
    margin-top: -5px;
}
.change-form{
  text-align:center;
}
.change-form  .btn.btn-primary {
  font-size: 14px;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}
button.btn.btn-primary:hover {
    opacity: 0.8;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.change-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.main1-div .thongbao
{
font-size: 14px;
color: red;
margin: 33px 0px 0 -6px;
}