*{margin:0;padding:0; }

.lop{
    border-collapse: collapse;
}
.lop th, .lop td{
    border:1px solid black;
    padding: 1px 3px 1px 3px;
}
.lop tr:nth-child(odd){
        background-color: #ddd;
}
.lop tr.a {
    background: #d39904;
    font-weight: bold;
    text-align: center;
    color: white;
}

.lop.chitiet {
	margin: 6px 0px 28px 0px;
}

.sotrang {text-align: center;padding-bottom: 20px;padding-top: 10px;}

.sotrang a {
    font-weight: bold;
    margin-left: 10px;
}
.aa {
    margin: -21px 0px 28px 7px;
    text-align: center;
    font-weight: bold;
}

.chon {
    margin-bottom: 20px;
}

.nut {
    margin-top: 10px;
}

.aaa {
    margin-left: 15px;
}

.thongbao {
    margin-bottom: 30px;
    margin-left: 30px;
    color: red;
}

.thongbao1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 108px;
}

.tranghientai {
    margin-left: 112px;
}

.tranghientai {
    margin-left: 113px;
    margin-top: 27px;
}